.sidebar {
  width: 220px;
  border-right: 1px solid var(--border);
  padding: 12px;
  transition: width 0.2s ease;
}

.closed {
  width: 60px;
}

.item {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.item:hover {
  background: var(--hover);
}

.active {
  background: #00fff7;
  color: white;
}
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    height: 100vh;
    background: var(--bg);
    z-index: 50;
  }
}

